:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.sidebar {
  width: 260px;
  background-color: #0c2b4e;
  color: white;
  height: 100vh;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoArea {
  margin-bottom: 30px;
}

.logoText {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 18px;
}

.menu ul li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s;
}

.menu ul li a:hover {
  background-color: #0a2340;
}

.active a {
  background-color: #0a2340;
  font-weight: 600;
}

.icon {
  font-size: 18px;
}

.sidebarFooter {
  padding-top: 20px;
}

.logoutButton {
  width: 100%;
  background: #d11a2a;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.logoutButton:hover {
  background: #a10f1f;
}
